In [19]:
import os,os.path as osp,glob
import numpy as np
import pandas as pd

In [27]:
DATA = osp.abspath(osp.join(os.pardir,'data'))
CHRM = glob.glob(osp.join(DATA,'chrom-*'))
CH_D = {osp.split(k)[-1]:os.listdir(k) for k in CHRM}
CH_D['chrom-01'][0],len(CH_D['chrom-01'])

('5945-4438.frame.gz', 62)

In [23]:
def res_path(k,v):
  return osp.join(DATA,k,v)
def get_colvals(k,v,col):
  df = pd.read_pickle(res_path(k,v))
  return getattr(df,col).values

In [29]:
f = osp.join(DATA,'chrom-01','5945-4438.frame.gz')
tdf = pd.read_pickle(f)
tdf.head()

          rsid chrom     pos alleles
0   rs12564807     1  734462      AA
1    rs3131972     1  752721      GG
2  rs148828841     1  760998      CC
3   rs12124819     1  776546      AA
4  rs115093905     1  787173      --

In [61]:
k = 'chrom-01'

for fr in CH_D[k]:
  rsids |= set(get_colvals(k,fr,'rsid'))
ids = pd.Series(sorted(rsids),name='rsid')

In [74]:
s1,s2 = "{0}-pos","{0}-allele"
cols = ['rsid']
for x in CH_D[k]:
  sp = x.split('.')
  cols.extend([s1.format(*sp),s2.format(*sp)])
df = pd.DataFrame(data=np.zeros((len(ids),len(cols))),columns=cols)
df.rsid.update(ids)
df.set_index('rsid',inplace=True)

In [86]:

#for fr in CH_D[k]:
p = res_path(k,'5945-4438.frame.gz')
tmp = pd.read_pickle(p)
tmp.set_index('rsid',inplace=True)
#for e,(ix,r) in enumerate(tmp.iterrows()):
#  print(ix)
#  if e>5:
#    break
df.loc[tmp.index,('5945-4438-pos','5945-4438-allele')]

             5945-4438-pos  5945-4438-allele
rsid
rs12564807             0.0               0.0
rs3131972              0.0               0.0
rs148828841            0.0               0.0
rs12124819             0.0               0.0
rs115093905            0.0               0.0
rs11240777             0.0               0.0
rs7538305              0.0               0.0
rs4970383              0.0               0.0
rs4475691              0.0               0.0
rs7537756              0.0               0.0
rs13302982             0.0               0.0
rs55678698             0.0               0.0
i6019299               0.0               0.0
rs1110052              0.0               0.0
rs147226614            0.0               0.0
i6033897               0.0               0.0
i6019302               0.0               0.0
rs2272756              0.0               0.0
rs67274836             0.0               0.0
i6019303               0.0               0.0
i6033898               0.0               0.0
rs13302945             0.0               0.0
i6019304               0.0               0.0
i6033899               0.0               0.0
i6019305               0.0               0.0
rs13303106             0.0               0.0
i6019306               0.0               0.0
i6033901               0.0               0.0
rs13303010             0.0               0.0
i6033902               0.0               0.0
...                    ...               ...
rs78787482             0.0               0.0
rs4281354              0.0               0.0
rs7529822              0.0               0.0
rs61837483             0.0               0.0
rs12239259             0.0               0.0
rs137922302            0.0               0.0
i6020753               0.0               0.0
rs6688948              0.0               0.0
rs11205415             0.0               0.0
rs11800006             0.0               0.0
rs9727917              0.0               0.0
rs6695844              0.0               0.0
rs11555324             0.0               0.0
i6035528               0.0               0.0
i6020754               0.0               0.0
i6053367               0.0               0.0
i6035529               0.0               0.0
rs10157709             0.0               0.0
rs12740476             0.0               0.0
rs6587759              0.0               0.0
rs12032643             0.0               0.0
rs10788875             0.0               0.0
rs4469747              0.0               0.0
rs4359061              0.0               0.0
rs6587762              0.0               0.0
rs7527472              0.0               0.0
rs6704311              0.0               0.0
i6035530               0.0               0.0
rs150352847            0.0               0.0
rs12746903             0.0               0.0

[47743 rows x 2 columns]

In [70]:
df.head()

,rsid,5945-4438-pos,5945-4438-allele,4619-3220-pos,4619-3220-allele,4030-5110-pos,4030-5110-allele,7251-5630-pos,7251-5630-allele,5861-4337-pos,...,437-190-pos,437-190-allele,7715-6058-pos,7715-6058-allele,3388-2203-pos,3388-2203-allele,4907-3461-pos,4907-3461-allele,2038-1219-pos,2038-1219-allele
0,i3000530,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,i3002323,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,i3002345,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,i3002459,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,i3002460,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0