In [1]:
import pandas as pd
import numpy as np
import os.path as osp
import glob

In [7]:
ROOT = osp.abspath(osp.join(osp.pardir))
DATA = osp.join(ROOT,'data')
globstr = osp.join(DATA,'chrom-*','*.frame.gz')
DFLZ = glob.glob(globstr)
len(DFLZ)

1495

In [14]:
new_cols = ['rsid','pos','alleles']
df = pd.DataFrame(pd.read_pickle(DFLZ[0])[new_cols])
df.head()

              rsid    pos alleles
94557   rs13072188  63411      AC
94558    rs9681213  66894      AG
94559  rs115597985  70761      TT
94560   rs11128546  71283      --
94561     i5005005  79467      AA